input,
button {
  all: unset;
}

.createTweet {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tweetInput {
  border-radius: 30px;
  border: 1px solid #04aaff;
  background-color: black;
  flex-grow: 1;
}
.postTweetInput {
  border-radius: 10px;
  position: absolute;
  right: 0;
  background-color: #04aaff;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
  text-align: center;
}
.textInputs {
  display: flex;
  position: relative;
  padding-right: 12px;
  margin: 10px;
  height: 30px;
  flex-shrink: 0;
  color: white;
}

.addPhotoBtn {
  color: white;
}

.deletePhotoBtn {
  background-color: rgb(223, 78, 78);
  width: 6em;
  margin: 10px;
}

.previewImg {
  margin: auto;
  width: 6em;
  height: 6em;
}

.attachmentPhoto {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
