.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.titleItem {
  flex-grow: 1;
  margin: 10px;
  text-align: center;
}
.textColor {
  color: aliceblue;
}

.proFileImg {
  width: 6em;
  height: 6em;
}
