/*.deletePhotoBtn deleteTweetBtn 과 같은버튼*/
input,
span {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutBtn {
  background-color: rgb(223, 78, 78);
  width: 100%;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}

.updateProFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  text-align: center;
}

.updateNameInput {
  border-radius: 30px;
  background-color: white;
  color: black;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.postUpdateProFile {
  border-radius: 10px;
  background-color: #04aaff;
  color: white;
  border: none;
  text-align: center;
  margin-top: 10px;
}
